*{
    display:flex;
    flex-direction:column;
    box-sizing: border-box;
    background-color: wheat;
}
body{
    justify-content: center;
    align-items:center;
    padding:10px;
}
h2{
    justify-content:center;
    align-items:center;
}
p{
    border:2px solid black;
    justify-content: center;
    align-items:center;
    padding:10px;
    border-radius:15px;
    background-color:whitesmoke;
    width:400px;
    height:100px;
}
.deadline{
    width:200px;
}
a{
    color:black;
    font-weight:bolder;
    margin:10px 30px;
}
.a{
    flex-direction:row;
}
form{
    margin-top: 30px;
}
.comment{
    color:black;
    font-weight:bolder;
    font-size:larger;
    align-items: center;
}
#content{
    margin:20px 0px;
    width: 400px;
    height:50px;
}
.comment_content{
    flex-direction: row;
    margin-top: 5px;
}
.comment_content>a{
    margin-top:0px;
}
button{
    margin:20px 0px 0px 7px;
    height:50px;
}
.p{
    border-bottom:2px solid black;
}