.inswrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
}

    

.header{
    display:flex;
    justify-content:space-around;
    align-items:center;
    border: 1px solid grey;
    height: 60px;
    width:400px;
}
.logo{
    height:30px;
    width:110px;
    margin-top:10px;
}
.icon{
    height:30px;
    width:30px;
    margin-left:10px;
}
.second-box{
    display:flex;
    flex-direction:column;
    height: 340px;
    width:400px;
    border: 1px solid grey;
}
.profile{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 120px;
    width:400px;
}
.pleft{
    height: 120px;
    width:120px;
}
.profilei{
    margin-left: 10px;
    margin-top: 10px;
}
.pright{
    height: 120px;
    width:280px;
}
.pright-1{
    display:flex;
    justify-content:left;
    align-items:center;
    height:75px;
    width:280px;
}
.pname{
    font-weight:lighter;
}
.pimg{
    height:30px;
    width:30px;
    margin-left:20px;
}
.pright-2{
    display:flex;
    justify-content:left;
    align-items: center;
    height:45px;
    width:280px;
}
.pbox{
    display:flex;
    justify-content:center;
    align-items:center;
    height:30px;
    width:250px;
    border: 1px solid grey;
    opacity:40%;
    border-radius:8px;
}
.pboxl{
    font-weight:400px;
}

.info{
    display:flex;
    flex-direction:column;
    height: 110px;
    width:400px;
    margin-bottom:10px;
    padding-left: 20px;
    box-sizing: border-box;
}

.info h4 {
    margin: 0 0 0px;
}
.info h5 {
    margin: 5px 3px;
}
.highlight{
    display:flex;
    justify-content:left;
    height: 90px;
    width:400px;
    box-sizing: border-box;
    padding-left: 10px;
    
}
.circle{
    /* display: flex;
    flex-direction:column;
    justify-content:center; */
    padding: 5px;
    
}
.circle img{
    border-radius:50px;
    width:60px;
    height:60px;
}
.circle span{
    font-size: 5px;
    margin-left:20px;
}
.statics{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height: 60px;
    width:400px;
    border: 1px solid grey;
}
.set{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    height: 40px;
    
    
}
.set-description{
    margin: 0;
    color:grey;
}
.hnum{
    margin: 0;
    text-align: center;
}
.feed-icons{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height: 60px;
    width:400px;
    border: 1px solid grey;
    background-color: whitesmoke;
}
.feed-pic{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    height: 260px;
    width:400px;
    border: 1px solid grey;
    margin: 0px;
}
.feed-pic img{
    height: 124px;
    width: 124px;
}
.feed-pic-row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}