<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        {% load socialaccount %}
        {% providers_media_js %}
        
        <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
        {% block css %}
        
        {% endblock css %}
    </head>
    <body>
        
        <nav class="bar">
            <div class="menu" id="menu">메뉴</div>
            <div class="in_bar">
                    
                    <a class="b_content" href="{% url 'home' %}">Home</a>
                    {% if user.is_authenticated %}
                    <a class="b_content">안녕하세요, {{user.username}}님</a>
                    <a class="b_content" href="{% url 'new' %}">Add-Post</a>
                    <a class="b_content" href="{% url 'logout' %}">로그아웃</a>
                    <a class="b_content" href="{% url 'mypage' %}">마이페이지</a>
                    {% else %}
                    <a class="b_content" href="{% url 'login' %}">로그인</a>
                    <a class="b_content" href="{% provider_login_url 'kakao' %}">카카오 로그인</a>
                    <a class="b_content" href="{% url 'signup' %}">회원가입</a>
                    {% endif %}
            
            
                </div>
            
        </nav>
    

        {% block content %}
        {% endblock content %}

    <script type="text/javascript">
        let menu_list = document.querySelector(".in_bar");
        let menu = document.querySelector("#menu");
        menu_list.classList.add("hidden");

        menu.addEventListener("click", () => {
            if (menu.textContent == "메뉴") {
              menu_list.classList.remove("hidden");
              menu.textContent = "접기";
            }
            else {
              menu_list.classList.add("hidden");
              menu.textContent = "메뉴";
            };
        })
    </script>
    </body>
</html>