
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% extends 'base.html' %}
    {% block css %} {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
    {% endblock %}
</head>
{% block content %}
<body class="body">
    <h1 class="h1">My-tasks</h1>
    <div>
        <ul class="container">
            {%for post in posts %}
            <li class="item">
                <a class="title" href="{% url 'detail' post.pk %}">{{post.title}}</a>
                <p class="deadline">due date: {{post.deadline}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% if user.is_authenticated %}
    <a class="add" href="{% url 'new' %}">일정 추가</a>
    {% endif %}
    
</body>
{% endblock %}
</html>